{% extends 'books/base.html' %}

{% block content %}
<a class="button is-primary" href="{% url 'book_create' %}">Add New Book</a>
<table class="table is-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Published Date</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.published_date }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.price }}</td>
            <td>
                <a class="button is-small is-info" href="{% url 'book_update' book.id %}">Edit</a>
                <form method="post" action="{% url 'book_delete' book.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button class="button is-small is-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
